# Ignore all files in the docs directory
docs/

# Ignore Microsoft Word files
*.docx
*.doc

#Ignore Code Review
*.mov

# Ignore General text files
*.txt

# Ignore any compressed files
*.zip

# Ignore any VS Code workspace specific settings/config
.vscode/

# Ignore temporary Word backup files (lock files)
~$*.docx
~$*.doc